.menuitems{
    padding-top:20%;
    font-size: larger;
}

.r1{
    font-size: x-large;
    text-align: center;
    padding: 5%;
    background: none;
    
}

.tb{
    padding: 2000px;
}

.logout{
    width: 25%;
    
}
.chakra-button:hover{
    border-radius: 1px solid white;
}

.r1:hover{
    font-weight: bold;
}

.logout:hover{
    font-weight: bolder;
}